#box {
  border: 1px solid #222;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 60px;
  width: 200px;
}
#group {
  display: flex;
}
.letter {
  border-bottom: 3px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 3px;
  height: 17px;
  width: 17px;
}

/* ---- reset ---- */ 
body{ 
  margin:0; 
  font:normal 75% Arial, Helvetica, sans-serif;
  position: relative; 
} 
canvas{ display: block; vertical-align: bottom; } 
/* ---- particles.js container ---- */ 
#particles-js{ 
  position:absolute; 
  width: 100%; 
  height: 100%; 
/* background-color: #ffffff;  */
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%; } 
/* ---- stats.js ---- */ 
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
